:root {
--main-bg-color:#424242;
--primary-text-color:#E9E9E9;
}

body {
    background: var(--main-bg-color);
    color:var(--primary-text-color);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
   text-align: center;
    padding:20px;
    margin-bottom:20px;
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    margin-bottom: 50px;
}

